{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url({%static 'images/sky.jpg'%}); background-repeat:no-repeat ; background-size:cover ">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
             
            <a class="nav-item ms-auto" href="{% url 'register' %}" style="color: rgb(0, 0, 0);text-decoration: none;padding-left: 350px; font-size: 25px;">Signup</a>
            <a class="nav-item ms-auto" href="{% url 'login' %}" style="color: rgb(0, 0, 0);text-decoration: none;padding-right: 50px; font-size: 25px;">Login</a>
        </nav>
        
    </header>
    


<h1 style="margin-left: 500px; margin-top: 200px;"> WELCOME TO PORTFOLIO APP</h1>




</body>
</html>